.calculatorContainer{
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: 75px;
    border: 1px solid black;
    padding-bottom: 10px;
    background-color: #1C1C1C;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px gray;
}
.displayScreen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayScreenBar{
    width: 350px;
    height: 80px;
    background-color: #D4D4D2;
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.displayOperation{
    width: 350px;
    height: 30px;
    overflow-x:hidden;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

.displaySum{
    width: 350px;
    height: 50px;
    overflow-x:hidden;
    display: flex;
    justify-content: flex-end;
}
.calculatorKeys{
    height: 450px;
    width: 450px;
    margin-top: 40px;
    display: flex;
}

.numberPad{
    width: 280px;
    height: 450px;
    margin: 10px;
    margin-bottom: 20px;

}

.operatorPad{
    width: 40px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0px;
    margin: 15px;
    font-size: 20px;
    background-color: #505050;
    box-shadow:0px 5px 10px 1px black;
    color: #D4D4D2;
}

button:hover{
background-color: #D4D4D2;
color: #505050;
}


#reset,#plus,#minus,#delete,#multiply,#divide{
    color: rgb(27, 154, 252);
    font-weight: bolder;
}

#equal{
    height: 150px;
    width: 70px;
    border-radius: 50px;
    background-color: rgb(27, 154, 252);
}

.operatorPadRow1, .numberPadRow1, .numberPadRow2, .numberPadRow3, .numberPadRow4 {
    display: flex;
    justify-content: center;  
}
